In [1]:
import pandas as pd

In [2]:
file_path = "~/temp.json"

In [16]:
df = pd.read_json(file_path)
df.head()

,slug,name,sizes,available,features
0,nyc1,New York 1,"[s-1vcpu-512mb-10gb, s-1vcpu-1gb, s-1vcpu-1gb-...",1.0,"[backups, ipv6, metadata, install_agent, stora..."
1,sfo1,San Francisco 1,NaN,NaN,"[backups, ipv6, metadata, install_agent, image..."
2,nyc2,New York 2,NaN,NaN,"[backups, ipv6, metadata, install_agent, image..."
3,ams2,Amsterdam 2,NaN,NaN,"[backups, ipv6, metadata, install_agent, image..."
4,sgp1,Singapore 1,"[s-1vcpu-512mb-10gb, s-1vcpu-1gb, s-1vcpu-1gb-...",1.0,"[backups, ipv6, metadata, install_agent, stora..."

In [17]:
df.shape

(14, 5)

In [18]:
df.dtypes

slug          object
name          object
sizes         object
available    float64
features      object
dtype: object

In [19]:
df.describe()

       available
count       11.0
mean         1.0
std          0.0
min          1.0
25%          1.0
50%          1.0
75%          1.0
max          1.0

In [22]:
brief_droplets = df[['slug', 'name', 'available', 'features']]
brief_droplets

,slug,name,available,features
0,nyc1,New York 1,1.0,"[backups, ipv6, metadata, install_agent, stora..."
1,sfo1,San Francisco 1,NaN,"[backups, ipv6, metadata, install_agent, image..."
2,nyc2,New York 2,NaN,"[backups, ipv6, metadata, install_agent, image..."
3,ams2,Amsterdam 2,NaN,"[backups, ipv6, metadata, install_agent, image..."
4,sgp1,Singapore 1,1.0,"[backups, ipv6, metadata, install_agent, stora..."
5,lon1,London 1,1.0,"[backups, ipv6, metadata, install_agent, stora..."
6,nyc3,New York 3,1.0,"[backups, ipv6, metadata, install_agent, stora..."
7,ams3,Amsterdam 3,1.0,"[backups, ipv6, metadata, install_agent, stora..."
8,fra1,Frankfurt 1,1.0,"[backups, ipv6, metadata, install_agent, stora..."
9,tor1,Toronto 1,1.0,"[backups, ipv6, metadata, install_agent, stora..."
10,sfo2,San Francisco 2,1.0,"[backups, ipv6, metadata, install_agent, stora..."
11,blr1,Bangalore 1,1.0,"[backups, ipv6, metadata, install_agent, stora..."
12,sfo3,San Francisco 3,1.0,"[backups, ipv6, metadata, install_agent, stora..."
13,syd1,Sydney 1,1.0,"[backups, ipv6, metadata, install_agent, stora..."

In [24]:
df.iloc[0]['sizes']

['s-1vcpu-512mb-10gb',
 's-1vcpu-1gb',
 's-1vcpu-1gb-amd',
 's-1vcpu-1gb-intel',
 's-1vcpu-1gb-35gb-intel',
 's-1vcpu-2gb',
 's-1vcpu-2gb-amd',
 's-1vcpu-2gb-intel',
 's-1vcpu-2gb-70gb-intel',
 's-2vcpu-2gb',
 's-2vcpu-2gb-amd',
 's-2vcpu-2gb-intel',
 's-2vcpu-2gb-90gb-intel',
 's-2vcpu-4gb',
 's-2vcpu-4gb-amd',
 's-2vcpu-4gb-intel',
 's-2vcpu-4gb-120gb-intel',
 'c-2',
 'c2-2vcpu-4gb',
 's-4vcpu-8gb',
 's-4vcpu-8gb-amd',
 's-4vcpu-8gb-intel',
 'g-2vcpu-8gb',
 's-4vcpu-8gb-240gb-intel',
 'gd-2vcpu-8gb',
 'g-2vcpu-8gb-intel',
 'gd-2vcpu-8gb-intel',
 'm-2vcpu-16gb',
 'c-4',
 'c2-4vcpu-8gb',
 's-8vcpu-16gb',
 'm-2vcpu-16gb-intel',
 'm3-2vcpu-16gb',
 'c-4-intel',
 'm3-2vcpu-16gb-intel',
 's-8vcpu-16gb-amd',
 's-8vcpu-16gb-intel',
 'c2-4vcpu-8gb-intel',
 'g-4vcpu-16gb',
 's-8vcpu-16gb-480gb-intel',
 'so-2vcpu-16gb-intel',
 'so-2vcpu-16gb',
 'm6-2vcpu-16gb',
 'gd-4vcpu-16gb',
 'so1_5-2vcpu-16gb-intel',
 'g-4vcpu-16gb-intel',
 'gd-4vcpu-16gb-intel',
 'so1_5-2vcpu-16gb',
 'm-4vcpu-32gb',
 'c-8',
 'c2-8vcpu-16gb',
 'm-4vcpu-32gb-intel',
 'm3-4vcpu-32gb',
 'c-8-intel',
 'm3-4vcpu-32gb-intel',
 'c2-8vcpu-16gb-intel',
 'g-8vcpu-32gb',
 'so-4vcpu-32gb-intel',
 'so-4vcpu-32gb',
 'm6-4vcpu-32gb',
 'gd-8vcpu-32gb',
 'so1_5-4vcpu-32gb-intel',
 'g-8vcpu-32gb-intel',
 'gd-8vcpu-32gb-intel',
 'so1_5-4vcpu-32gb',
 'm-8vcpu-64gb',
 'c-16',
 'c2-16vcpu-32gb',
 'm-8vcpu-64gb-intel',
 'm3-8vcpu-64gb',
 'c-16-intel',
 'm3-8vcpu-64gb-intel',
 'c2-16vcpu-32gb-intel',
 'g-16vcpu-64gb',
 'so-8vcpu-64gb-intel',
 'so-8vcpu-64gb',
 'm6-8vcpu-64gb',
 'gd-16vcpu-64gb',
 'so1_5-8vcpu-64gb-intel',
 'g-16vcpu-64gb-intel',
 'gd-16vcpu-64gb-intel',
 'so1_5-8vcpu-64gb',
 'm-16vcpu-128gb',
 'c-32',
 'c2-32vcpu-64gb',
 'm-16vcpu-128gb-intel',
 'm3-16vcpu-128gb',
 'c-32-intel',
 'm3-16vcpu-128gb-intel',
 'c2-32vcpu-64gb-intel',
 'c-48',
 'm-24vcpu-192gb',
 'g-32vcpu-128gb',
 'so-16vcpu-128gb-intel',
 'so-16vcpu-128gb',
 'm6-16vcpu-128gb',
 'gd-32vcpu-128gb',
 'so1_5-16vcpu-128gb-intel',
 'c2-48vcpu-96gb',
 'm-24vcpu-192gb-intel',
 'g-32vcpu-128gb-intel',
 'm3-24vcpu-192gb',
 'g-40vcpu-160gb',
 'gd-32vcpu-128gb-intel',
 'so1_5-16vcpu-128gb',
 'c-48-intel',
 'm3-24vcpu-192gb-intel',
 'm-32vcpu-256gb',
 'gd-40vcpu-160gb',
 'c2-48vcpu-96gb-intel',
 'so-24vcpu-192gb-intel',
 'so-24vcpu-192gb',
 'm6-24vcpu-192gb',
 'm-32vcpu-256gb-intel',
 'm3-32vcpu-256gb',
 'so1_5-24vcpu-192gb-intel',
 'm3-32vcpu-256gb-intel',
 'g-48vcpu-192gb-intel',
 'gd-48vcpu-192gb-intel',
 'so1_5-24vcpu-192gb',
 'so-32vcpu-256gb-intel',
 'so-32vcpu-256gb',
 'm6-32vcpu-256gb',
 'so1_5-32vcpu-256gb-intel',
 'so1_5-32vcpu-256gb']

In [27]:
df1 = brief_droplets.set_index(['slug', 'name'])
df1 = df1.sort_index(level=['slug', 'name'])
df1

,,available,features
slug,name,,
ams2,Amsterdam 2,NaN,"[backups, ipv6, metadata, install_agent, image..."
ams3,Amsterdam 3,1.0,"[backups, ipv6, metadata, install_agent, stora..."
blr1,Bangalore 1,1.0,"[backups, ipv6, metadata, install_agent, stora..."
fra1,Frankfurt 1,1.0,"[backups, ipv6, metadata, install_agent, stora..."
lon1,London 1,1.0,"[backups, ipv6, metadata, install_agent, stora..."
nyc1,New York 1,1.0,"[backups, ipv6, metadata, install_agent, stora..."
nyc2,New York 2,NaN,"[backups, ipv6, metadata, install_agent, image..."
nyc3,New York 3,1.0,"[backups, ipv6, metadata, install_agent, stora..."
sfo1,San Francisco 1,NaN,"[backups, ipv6, metadata, install_agent, image..."
sfo2,San Francisco 2,1.0,"[backups, ipv6, metadata, install_agent, stora..."
sfo3,San Francisco 3,1.0,"[backups, ipv6, metadata, install_agent, stora..."
sgp1,Singapore 1,1.0,"[backups, ipv6, metadata, install_agent, stora..."
syd1,Sydney 1,1.0,"[backups, ipv6, metadata, install_agent, stora..."
tor1,Toronto 1,1.0,"[backups, ipv6, metadata, install_agent, stora..."

In [29]:
df1 = df1.reset_index()
df1

,slug,name,available,features
0,ams2,Amsterdam 2,NaN,"[backups, ipv6, metadata, install_agent, image..."
1,ams3,Amsterdam 3,1.0,"[backups, ipv6, metadata, install_agent, stora..."
2,blr1,Bangalore 1,1.0,"[backups, ipv6, metadata, install_agent, stora..."
3,fra1,Frankfurt 1,1.0,"[backups, ipv6, metadata, install_agent, stora..."
4,lon1,London 1,1.0,"[backups, ipv6, metadata, install_agent, stora..."
5,nyc1,New York 1,1.0,"[backups, ipv6, metadata, install_agent, stora..."
6,nyc2,New York 2,NaN,"[backups, ipv6, metadata, install_agent, image..."
7,nyc3,New York 3,1.0,"[backups, ipv6, metadata, install_agent, stora..."
8,sfo1,San Francisco 1,NaN,"[backups, ipv6, metadata, install_agent, image..."
9,sfo2,San Francisco 2,1.0,"[backups, ipv6, metadata, install_agent, stora..."
10,sfo3,San Francisco 3,1.0,"[backups, ipv6, metadata, install_agent, stora..."
11,sgp1,Singapore 1,1.0,"[backups, ipv6, metadata, install_agent, stora..."
12,syd1,Sydney 1,1.0,"[backups, ipv6, metadata, install_agent, stora..."
13,tor1,Toronto 1,1.0,"[backups, ipv6, metadata, install_agent, stora..."